org: dotportion
service: dotportion-external-db

custom:
  prune:
    automatic: true
    number: 2
  domains:
    dev: api-dev.dotportion.com
    prod: api.dotportion.com
    uat: api-uat.dotportion.com
  customDomain:
    domainName: ${self:custom.domains.${self:provider.stage}}
    stage: ${self:provider.stage}
    createRoute53Record: false
    basePath: "external-db"
    endpointType: "regional"
  authorizerArn: ${cf:dotportion-auth-api-${self:provider.stage}.AuthorizerArn}

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1
  stage: ${opt:stage, 'dev'}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - "ssm:GetParameter"
      Resource: "arn:aws:ssm:${self:provider.region}:${aws:accountId}:parameter/dotportion/${self:provider.stage}/*"
    - Effect: Allow
      Action:
        - "lambda:InvokeFunction"
      Resource: ${self:custom.authorizerArn}

  environment:
    MONGO_URI: ${ssm:/dotportion/${self:provider.stage}/mongo_uri}
    MDataBase: ${self:provider.stage}
    BASE_URL: https://${self:custom.domains.${self:provider.stage}}

functions:
  getCollections:
    handler: get-collections.handler
    events:
      - http:
          path: /collections/{secretId}
          method: GET
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  getData:
    handler: get-data.handler
    events:
      - http:
          path: /collections/{secretId}/{collectionName}
          method: GET
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  createData:
    handler: create-data.handler
    events:
      - http:
          path: /collections/{secretId}/{collectionName}
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  updateData:
    handler: update-data.handler
    events:
      - http:
          path: /collections/{secretId}/{collectionName}/{documentId}
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  deleteData:
    handler: delete-data.handler
    events:
      - http:
          path: /collections/{secretId}/{collectionName}/{documentId}
          method: DELETE
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  # Platform-specific handlers
  getPlatformCollections:
    handler: get-platform-collections.handler
    events:
      - http:
          path: /platform/{tenant}/{projectId}/collections
          method: GET
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  getPlatformData:
    handler: get-platform-data.handler
    events:
      - http:
          path: /platform/{tenant}/{projectId}/collections/{collectionName}
          method: GET
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  createPlatformData:
    handler: create-platform-data.handler
    events:
      - http:
          path: /platform/{tenant}/{projectId}/collections/{collectionName}
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  updatePlatformData:
    handler: update-platform-data.handler
    events:
      - http:
          path: /platform/{tenant}/{projectId}/collections/{collectionName}/{documentId}
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  deletePlatformData:
    handler: delete-platform-data.handler
    events:
      - http:
          path: /platform/{tenant}/{projectId}/collections/{collectionName}/{documentId}
          method: DELETE
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

plugins:
  - serverless-offline
  - serverless-prune-plugin
  - serverless-domain-manager

# This tells the packaging process to exclude the AWS SDK, which is already available in the Lambda environment.
package:
  individually: true
  exclude:
    - node_modules/aws-sdk/**
