org: dotportion
service: dotportion-auth-api
custom:
  prune:
    automatic: true
    number: 2
  domains:
    dev: api-dev.dotportion.com
    prod: api.dotportion.com
    uat: api-uat.dotportion.com
  customDomain:
    domainName: ${self:custom.domains.${self:provider.stage}}
    stage: ${self:provider.stage}
    createRoute53Record: false
    basePath: "auth"
    endpointType: "regional"

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1
  stage: ${opt:stage, 'dev'}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - "ssm:GetParameter"
      Resource: "arn:aws:ssm:${self:provider.region}:${aws:accountId}:parameter/dotportion/${self:provider.stage}/*"

  # Environment variables will be available to all your functions
  # It's highly recommended to use a service like AWS Secrets Manager for production
  environment:
    MONGO_URI: ${ssm:/dotportion/${self:provider.stage}/mongo_uri}
    MDataBase: ${self:provider.stage}
    ZOHO_HOST: ${ssm:/dotportion/${self:provider.stage}/zoho_host}
    ZOHO_PORT: ${ssm:/dotportion/${self:provider.stage}/zoho_port}
    AUTH_MAIL: ${ssm:/dotportion/${self:provider.stage}/auth_mail}
    AUTH_PASSWORD: ${ssm:/dotportion/${self:provider.stage}/auth_password}
    FRONTEND_URL: ${ssm:/dotportion/${self:provider.stage}/frontend_url}
    JWT_SECRET: ${ssm:/dotportion/${self:provider.stage}/jwt_secret}
    GOOGLE_CLIENT_ID: ${ssm:/dotportion/${self:provider.stage}/google_client_id}
    GOOGLE_CLIENT_SECRET: ${ssm:/dotportion/${self:provider.stage}/google_client_secret}
    GITHUB_CLIENT_ID: ${ssm:/dotportion/${self:provider.stage}/github_client_id}
    GITHUB_CLIENT_SECRET: ${ssm:/dotportion/${self:provider.stage}/github_client_secret}
    BASE_URL: https://${self:custom.domains.${self:provider.stage}}

functions:
  authorizer:
    handler: authorizer.handler

  # Handles adding a user to the waitlist
  signup:
    handler: signup.handler
    timeout: 30
    events:
      - http:
          path: /signup
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true

  verifyOtp:
    handler: verify-otp.handler
    timeout: 30
    events:
      - http:
          path: /verify-otp
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true

  resendOtp:
    handler: resend-otp.handler
    timeout: 30
    events:
      - http:
          path: /resend-otp
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true

  login:
    handler: login.handler
    timeout: 30
    events:
      - http:
          path: /login
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true

  forgotPassword:
    handler: forgot-password.handler
    timeout: 30
    events:
      - http:
          path: /forgot-password
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true

  resetPassword:
    handler: reset-password.handler
    timeout: 30
    events:
      - http:
          path: /reset-password
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true

  googleLogin:
    handler: google-login.handler
    timeout: 30
    events:
      - http:
          path: /oauth/google/login
          method: GET

  googleCallback:
    handler: google-callback.handler
    timeout: 30
    events:
      - http:
          path: /oauth/google/callback
          method: GET

  githubLogin:
    handler: github-login.handler
    timeout: 30
    events:
      - http:
          path: /oauth/github/login
          method: GET

  githubCallback:
    handler: github-callback.handler
    timeout: 30
    events:
      - http:
          path: /oauth/github/callback
          method: GET

  setUserName:
    handler: set-username.handler
    timeout: 30
    events:
      - http:
          path: /oauth/username
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true

layers:
  common:
    path: ../layers/common
    name: dotportion-common-layer-${self:provider.stage}
    description: Common utilities, models, and dependencies
    compatibleRuntimes:
      - nodejs18.x

plugins:
  - serverless-offline
  - serverless-prune-plugin
  - serverless-domain-manager

# This tells the packaging process to exclude the AWS SDK, which is already available in the Lambda environment.
package:
  individually: true
  exclude:
    - node_modules/aws-sdk/**

resources:
  Outputs:
    AuthorizerArn:
      Description: "Lambda Authorizer ARN"
      Value:
        Fn::GetAtt:
          - AuthorizerLambdaFunction
          - Arn
      Export:
        Name: ${self:service}-${self:provider.stage}-authorizer-arn
