org: dotportion
service: dotportion-auth-api
custom:
  prune:
    automatic: true
    number: 2
  domains:
    dev: api-dev.dotportion.com
    prod: api.dotportion.com
  customDomain:
    domainName: ${self:custom.domains.${self:provider.stage}}
    stage: ${self:provider.stage}
    createRoute53Record: false
    basePath: "auth"
    endpointType: "regional"
  cognito:
    userPoolArn: "arn:aws:cognito-idp:ap-south-1:074624701502:userpool/ap-south-1_25OzAmAmZ"

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1
  stage: ${opt:stage, 'dev'}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - "ssm:GetParameter"
      Resource: "arn:aws:ssm:${self:provider.region}:${aws:accountId}:parameter/dotportion/${self:provider.stage}/*"

  # Environment variables will be available to all your functions
  # It's highly recommended to use a service like AWS Secrets Manager for production
  environment:
    MONGO_URI: ${ssm:/dotportion/${self:provider.stage}/mongo_uri}
    MDataBase: ${self:provider.stage}
    ZOHO_HOST: ${ssm:/dotportion/${self:provider.stage}/zoho_host}
    ZOHO_PORT: ${ssm:/dotportion/${self:provider.stage}/zoho_port}
    AUTH_MAIL: ${ssm:/dotportion/${self:provider.stage}/auth_mail}
    AUTH_PASSWORD: ${ssm:/dotportion/${self:provider.stage}/auth_password}
    BASE_URL: https://${self:custom.domains.${self:provider.stage}}

functions:
  # Handles adding a user to the waitlist
  signup:
    handler: signup.handler
    timeout: 30
    events:
      - http:
          path: /me
          method: GET
          cors: true

  verifyOtp:
    handler: verify-otp.handler
    timeout: 30
    events:
      - http:
          path: /verify-otp
          method: POST
          cors: true

  resendOtp:
    handler: resend-otp.handler
    timeout: 30
    events:
      - http:
          path: /resend-otp
          method: POST
          cors: true

  login:
    handler: login.handler
    timeout: 30
    events:
      - http:
          path: /login
          method: POST
          cors: true

  forgotPassword:
    handler: forgot-password.handler
    timeout: 30
    events:
      - http:
          path: /forgot-password
          method: POST
          cors: true

  resetPassword:
    handler: reset-password.handler
    timeout: 30
    events:
      - http:
          path: /reset-password
          method: POST
          cors: true

  logout:
    handler: logout.handler
    timeout: 30
    events:
      - http:
          path: /logout
          method: POST
          cors: true

layers:
  common:
    path: ../layers/common
    name: dotportion-common-layer-${self:provider.stage}
    description: Common utilities, models, and dependencies
    compatibleRuntimes:
      - nodejs18.x

plugins:
  - serverless-offline
  - serverless-prune-plugin
  - serverless-domain-manager

# This tells the packaging process to exclude the AWS SDK, which is already available in the Lambda environment.
package:
  individually: true
  exclude:
    - node_modules/aws-sdk/**
