org: dotportion
service: dotportion-users-api
custom:
  prune:
    automatic: true
    number: 2
  domains:
    dev: api-dev.dotportion.com
    prod: api.dotportion.com
    uat: api-uat.dotportion.com
  customDomain:
    domainName: ${self:custom.domains.${self:provider.stage}}
    stage: ${self:provider.stage}
    createRoute53Record: false
    basePath: "users"
    endpointType: "regional"
  authorizerArn: ${cf:dotportion-auth-api-${self:provider.stage}.AuthorizerArn}

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1
  stage: ${opt:stage, 'dev'}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - "ssm:GetParameter"
      Resource: "arn:aws:ssm:${self:provider.region}:${aws:accountId}:parameter/dotportion/${self:provider.stage}/*"
    - Effect: Allow
      Action:
        - "lambda:InvokeFunction"
      Resource: ${self:custom.authorizerArn}
  # Environment variables will be available to all your functions
  # It's highly recommended to use a service like AWS Secrets Manager for production
  environment:
    MONGO_URI: ${ssm:/dotportion/${self:provider.stage}/mongo_uri}
    MDataBase: ${self:provider.stage}
    BASE_URL: https://${self:custom.domains.${self:provider.stage}}

functions:
  # Handles adding a user to the waitlist
  getCurrentUser:
    handler: get-user.handler
    timeout: 30
    events:
      - http:
          path: /me
          method: GET
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  updateUser:
    handler: update-userprofile.handler
    timeout: 30
    events:
      - http:
          path: /update
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  changePassword:
    handler: change-password.handler
    timeout: 30
    events:
      - http:
          path: /change-password
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  updateTheme:
    handler: update-theme.handler
    timeout: 30
    events:
      - http:
          path: /update-theme
          method: POST
          cors:
            origins:
              - "http://localhost:3000" # For local development
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers: # Optional: specify allowed headers
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300 # Cache authorization for 5 minutes
            arn: ${self:custom.authorizerArn}

  getTours:
    handler: get-tours.handler
    timeout: 10
    events:
      - http:
          path: /tours
          method: GET
          cors:
            origins:
              - "http://localhost:3000"
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            arn: ${self:custom.authorizerArn}
  updateTour:
    handler: update-tour.handler
    timeout: 10
    events:
      - http:
          path: /tours
          method: POST
          cors:
            origins:
              - "http://localhost:3000"
              - "https://www.dotportion.com/"
              - "https://no-code-api-builder-edby86tby-sri-charans-projects.vercel.app/"
              - "https://uat.dotportion.com"
              - "https://beta.dotportion.com"
              - "https://uat.d34dhbi3es40ie.amplifyapp.com"
              - "https://beta.d34dhbi3es40ie.amplifyapp.com"
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true
          authorizer:
            type: token
            identitySource: method.request.header.Authorization
            arn: ${self:custom.authorizerArn}

layers:
  common:
    path: ../layers/common
    name: dotportion-common-layer-${self:provider.stage}
    description: Common utilities, models, and dependencies
    compatibleRuntimes:
      - nodejs18.x

plugins:
  - serverless-offline
  - serverless-prune-plugin
  - serverless-domain-manager

# This tells the packaging process to exclude the AWS SDK, which is already available in the Lambda environment.
package:
  individually: true
  exclude:
    - node_modules/aws-sdk/**
